In [1]:
import pandas as pd
import numpy as np

C:\Users\user\Anaconda3\lib\site-packages\pandas\compat\_optional.py:124: UserWarning: Pandas requires version '1.2.1' or newer of 'bottleneck' (version '1.2.0' currently installed).
  warnings.warn(msg, UserWarning)

In [27]:
raw_data = {'first_name': ['Jason', 'Molly', np.nan, np.nan, np.nan], 
        'nationality': ['USA', 'USA', 'France', 'UK', 'UK'], 
        'age': [42, 52, 36, 24, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'nationality', 'age'])
df.index = ['a', 'b', 'c', 'd', 'e']
df

  first_name nationality  age
a      Jason         USA   42
b      Molly         USA   52
c        NaN      France   36
d        NaN          UK   24
e        NaN          UK   70

In [29]:
gender = ['M', 'F', 'X', 'F', 'F']
gender_series = pd.Series(gender, index=df.index)
df['gender'] = gender_series
df

  first_name nationality  age gender
a      Jason         USA   42      M
b      Molly         USA   52      F
c        NaN      France   36      X
d        NaN          UK   24      F
e        NaN          UK   70      F

In [23]:
bool1 = [True, True, False, False, True]
bool2 = [False, True, True, False, True]
df['bool1'] = pd.Series(bool1)
df['bool2'] = pd.Series(bool2)
df

  first_name nationality  age gender  bool1  bool2
0      Jason         USA   42      M   True  False
1      Molly         USA   52      F   True   True
2        NaN      France   36      X  False   True
3        NaN          UK   24      F  False  False
4        NaN          UK   70      F   True   True

In [26]:
bool3 = pd.Series([False] * df.shape[0])
bool3 &= df['bool2']
bool3

0    False
1    False
2    False
3    False
4    False
dtype: bool

# Regex

In [4]:
import re
import codecs

In [8]:
with codecs.open('posets/families_simplified_maxgraph.dot', 'r', encoding='utf-8') as f:
    for line in f:
        if '->' in line:  # a line showing edges between concepts
            elements = line.split()
        elif 'shape' in line:  # a line describing a concept 
            attribute_number = re.search('Attribute (.*)\|', line.replace('\\n', '')).group(1)
            print(attribute_number)
            break

319

# Isomorphic test

In [2]:
import networkx as nx
import networkx.algorithms.isomorphism as iso

In [9]:
G1 = nx.DiGraph()
G2 = nx.DiGraph()
G1.add_node('A', label='X')
G1.add_node('B', label='Y')
G1.add_edge('A', 'B', label='e1')
G2.add_node('C', label='X')
G2.add_node('D', label='Y')
G2.add_edge('C', 'D', label='e1')
nx.is_isomorphic(G1, G2, node_match=lambda v1,v2: v1['label'] == v2['label'], edge_match=lambda e1,e2: e1['label'] == e2['label'])

True

In [ ]:
G1 = nx.DiGraph()
G1.add_node(0, label='nol')
G1.add_node(9, label='sembilan')
G1.add_node(1, label='satu')
G1.add_edge(0, 9, label='09')
G1.add_edge(0, 1, label='01')
G2 = nx.DiGraph()
G2.add_node(0, label='nol')
G2.add_node(1, label='sembilan')
G2.add_edge(0, 1, label='09')
GM = isomorphism.DiGraphMatcher(G1, G2, node_match=lambda v1,v2: v1['label'] == v2['label'], edge_match=lambda e1,e2: e1['label'] == e2['label'])
#GM = isomorphism.DiGraphMatcher(G1, G2, edge_match=lambda e1,e2: e1['label'] == e2['label'])
GM.subgraph_is_isomorphic()

# Progress bar

In [1]:
import time
from utils import printProgressBar
# A List of Items
items = list(range(0, 57))
l = len(items)

# Initial call to print 0% progress
printProgressBar(0, l, prefix = 'Progress:', suffix = 'Complete', length = 50)
for i, item in enumerate(items):
    # Do stuff...
    time.sleep(0.1)
    # Update Progress Bar
    printProgressBar(i + 1, l, prefix = 'Progress:', suffix = 'Complete', length = 50)

Progress: |██████████████████████████████████████████████████| 100.0% Complete

# Duplicates in transaction

In [3]:
def list2lists(input_tr):
    ret_tr = list()
    tr = list()
    ret_tr.append(tr)
    for item in input_tr:
        added = False
        for tr in ret_tr:
            if item not in tr:
                tr.append(item)
                added = True
                break
        if not added:
            tr_new = [item]
            ret_tr.append(tr_new)
    return ret_tr

In [5]:
a = [0, 1, 2, 3]
list2lists(a)

[[0, 1, 2, 3]]

# Excel hyperlink

In [3]:
import codecs
from os import listdir
from os.path import isfile, join
import pandas as pd

In [4]:
input_dir = 'families'
input_files = [f for f in listdir(input_dir) if isfile(join(input_dir, f))]
family_name_dict = dict()
for input_file in input_files:
    with codecs.open(join(input_dir, input_file), 'r', encoding='utf-8') as f:
        family_name_dict[input_file.split()[0]] = input_file.split()[1].split('.')[0]  # for setting hyperlink in excel

In [10]:
family_id_1 = 'F03902-0542'
df = pd.DataFrame(columns=['family_id_1', 'family_id_2'])
df = df.append(pd.Series({'family_id_1': '=HYPERLINK("graph_visualization\\' + family_id_1 + ' ' \
                          + family_name_dict[family_id_1] + '.dot", "' + family_id_1 + '")',
                         'family_id_2': 'menjadi'}), ignore_index=True)
df.to_excel('test_hyper.xlsx')

C:\Users\user\Anaconda3\lib\site-packages\pandas\compat\_optional.py:124: UserWarning: Pandas requires version '0.9.8' or newer of 'xlsxwriter' (version '0.9.6' currently installed).
  warnings.warn(msg, UserWarning)

# File link

In [1]:
from IPython.display import FileLink, FileLinks
FileLink('fingerprint_visualization/F00853 muter.dot')
#print('F://Notebook/Demonext/fingerprint_visualization/F00853muter.dot')

F:\Notebook\Demonext\fingerprint_visualization\F00853 muter.dot

# has edge

In [1]:
import networkx as nx

In [2]:
H = nx.DiGraph()
H.add_edge(0, 1)

In [4]:
H.has_edge(1,0)

False

# Panda regex selection

In [1]:
import pandas as pd

C:\Users\user\Anaconda3\lib\site-packages\pandas\compat\_optional.py:124: UserWarning: Pandas requires version '1.2.1' or newer of 'bottleneck' (version '1.2.0' currently installed).
  warnings.warn(msg, UserWarning)

In [7]:
membership = pd.Series([0] * 5)
membership.index = ['F0', 'F1-1', 'F1-2', 'F2', 'F3']
membership

F0      0
F1-1    0
F1-2    0
F2      0
F3      0
dtype: int64

In [8]:
membership[membership.index.str.contains('F1')] = 5
membership

F0      0
F1-1    5
F1-2    5
F2      0
F3      0
dtype: int64

# Join dataframes

In [1]:
import pandas as pd

C:\Users\user\Anaconda3\lib\site-packages\pandas\compat\_optional.py:124: UserWarning: Pandas requires version '1.2.1' or newer of 'bottleneck' (version '1.2.0' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
df1 = pd.DataFrame(
    {"A": ["A0", "A1", "A2", "A3"],
     "B": ["B0", "B1", "B2", "B3"],
     "C": ["C0", "C1", "C2", "C3"],
     "D": ["D0", "D1", "D2", "D3"]},
    index=[0, 1, 2, 3],
)
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [3]:
df2 = pd.DataFrame(
    {"E": ["A0", "A1", "A2", "A3"],
     "F": ["B0", "B1", "B2", "B3"],
     "G": ["C0", "C1", "C2", "C3"],
     "H": ["D0", "D1", "D2", "D3"]},
    index=[0, 1, 2, 3],
)
df2

    E   F   G   H
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [5]:
df3 = pd.concat([df1, df2], axis=1)
df3

    A   B   C   D   E   F   G   H
0  A0  B0  C0  D0  A0  B0  C0  D0
1  A1  B1  C1  D1  A1  B1  C1  D1
2  A2  B2  C2  D2  A2  B2  C2  D2
3  A3  B3  C3  D3  A3  B3  C3  D3