In [1]:
import pandas as pd
import numpy as np

C:\Users\user\Anaconda3\lib\site-packages\pandas\compat\_optional.py:124: UserWarning: Pandas requires version '1.2.1' or newer of 'bottleneck' (version '1.2.0' currently installed).
  warnings.warn(msg, UserWarning)

In [27]:
raw_data = {'first_name': ['Jason', 'Molly', np.nan, np.nan, np.nan], 
        'nationality': ['USA', 'USA', 'France', 'UK', 'UK'], 
        'age': [42, 52, 36, 24, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'nationality', 'age'])
df.index = ['a', 'b', 'c', 'd', 'e']
df

  first_name nationality  age
a      Jason         USA   42
b      Molly         USA   52
c        NaN      France   36
d        NaN          UK   24
e        NaN          UK   70

In [29]:
gender = ['M', 'F', 'X', 'F', 'F']
gender_series = pd.Series(gender, index=df.index)
df['gender'] = gender_series
df

  first_name nationality  age gender
a      Jason         USA   42      M
b      Molly         USA   52      F
c        NaN      France   36      X
d        NaN          UK   24      F
e        NaN          UK   70      F

In [23]:
bool1 = [True, True, False, False, True]
bool2 = [False, True, True, False, True]
df['bool1'] = pd.Series(bool1)
df['bool2'] = pd.Series(bool2)
df

  first_name nationality  age gender  bool1  bool2
0      Jason         USA   42      M   True  False
1      Molly         USA   52      F   True   True
2        NaN      France   36      X  False   True
3        NaN          UK   24      F  False  False
4        NaN          UK   70      F   True   True

In [26]:
bool3 = pd.Series([False] * df.shape[0])
bool3 &= df['bool2']
bool3

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [1]:
import re

In [2]:
s = 'asd<9008>nasdf'
result = re.search('<(.*)>', s)
print(result.group(1))

9008

# Isomorphic test

In [2]:
import networkx as nx
import networkx.algorithms.isomorphism as iso

In [9]:
G1 = nx.DiGraph()
G2 = nx.DiGraph()
G1.add_node('A', label='X')
G1.add_node('B', label='Y')
G1.add_edge('A', 'B', label='e1')
G2.add_node('C', label='X')
G2.add_node('D', label='Y')
G2.add_edge('C', 'D', label='e1')
nx.is_isomorphic(G1, G2, node_match=lambda v1,v2: v1['label'] == v2['label'], edge_match=lambda e1,e2: e1['label'] == e2['label'])

True

In [ ]:
G1 = nx.DiGraph()
G1.add_node(0, label='nol')
G1.add_node(9, label='sembilan')
G1.add_node(1, label='satu')
G1.add_edge(0, 9, label='09')
G1.add_edge(0, 1, label='01')
G2 = nx.DiGraph()
G2.add_node(0, label='nol')
G2.add_node(1, label='sembilan')
G2.add_edge(0, 1, label='09')
GM = isomorphism.DiGraphMatcher(G1, G2, node_match=lambda v1,v2: v1['label'] == v2['label'], edge_match=lambda e1,e2: e1['label'] == e2['label'])
#GM = isomorphism.DiGraphMatcher(G1, G2, edge_match=lambda e1,e2: e1['label'] == e2['label'])
GM.subgraph_is_isomorphic()

# Progress bar

In [1]:
import time
from utils import printProgressBar
# A List of Items
items = list(range(0, 57))
l = len(items)

# Initial call to print 0% progress
printProgressBar(0, l, prefix = 'Progress:', suffix = 'Complete', length = 50)
for i, item in enumerate(items):
    # Do stuff...
    time.sleep(0.1)
    # Update Progress Bar
    printProgressBar(i + 1, l, prefix = 'Progress:', suffix = 'Complete', length = 50)

Progress: |██████████████████████████████████████████████████| 100.0% Complete

# Duplicates in transaction

In [3]:
def list2lists(input_tr):
    ret_tr = list()
    tr = list()
    ret_tr.append(tr)
    for item in input_tr:
        added = False
        for tr in ret_tr:
            if item not in tr:
                tr.append(item)
                added = True
                break
        if not added:
            tr_new = [item]
            ret_tr.append(tr_new)
    return ret_tr

In [5]:
a = [0, 1, 2, 3]
list2lists(a)

[[0, 1, 2, 3]]