In [6]:
import codecs
import os
import pandas as pd
from os import listdir
from os.path import isfile, join

In [2]:
number_of_families = 12138
input_dir = 'gSpan_s50_l3'
file_names = [f for f in listdir(input_dir) if isfile(join(input_dir, f))]
context = pd.DataFrame()
for file_name in file_names:
    if 'members' not in file_name:
        continue
    graph_number = file_name.split('.')[0].split('_')[2]
    membership = pd.Series([0] * number_of_families)
    with codecs.open(join(input_dir, file_name), 'r', encoding='utf-8') as f:
        for line in f:
            membership[int(line.strip('\n').strip('\r').strip('F'))] = 1
    context[graph_number] = membership
context.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12138 entries, 0 to 12137
Columns: 278 entries, 0000 to 0277
dtypes: int64(278)
memory usage: 25.7 MB

In [3]:
context['total_graph'] = context.sum(axis=1)
context.loc[context['total_graph'] > 0]

C:\Users\user\Anaconda3\lib\site-packages\pandas\compat\_optional.py:124: UserWarning: Pandas requires version '2.6.2' or newer of 'numexpr' (version '2.6.1' currently installed).
  warnings.warn(msg, UserWarning)

,0000,0001,0002,0003,0004,0005,0006,0007,0008,0009,...,0269,0270,0271,0272,0273,0274,0275,0276,0277,total_graph
0,1,1,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,4
1,0,0,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,15
2,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,31
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12112,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
12122,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
12127,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
12132,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
12135,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
context.drop(columns=['total_graph'], inplace=True)
context.to_csv('families.csv', header=False, index=False)

In [5]:
os.system('java -jar AOCPosetBuilder.jar -i families.csv -a HERMES -d posets/families_full.dot -f FULL -z')

NameError: name 'os' is not defined